<div class="flex flex-col p-2 border rounded-xl bg-white w-80 p-4">
  <div class="flex w-full justify-end">
    <button
      (click)="close.emit()"
      type="button"
      class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-tahrirchi-primary">
      <span class="sr-only">Close menu</span>
      <!-- Heroicon name: outline/x -->
      <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()" class="mt-2 space-y-4 flex flex-col gap-1">
    <mat-form-field>
      <mat-label>Eski</mat-label>
      <input matInput [(ngModel)]="oldText" name="oldText" spellcheck="false" formControlName="oldText">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Yangi</mat-label>
      <input matInput [(ngModel)]="newText" name="newText" spellcheck="false" formControlName="newText">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Xatolik turi</mat-label>
      <input type="text"
             placeholder="Bittasini tanlang"
             aria-label="Xatolik turi"
             matInput
             [(ngModel)]="errorType"
             formControlName="errorType"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button class="btn btn-action" [disabled]="form.invalid">Tahrirlash</button>
  </form>
</div>
